@font-face { 
            font-family: b612; 
            src: url('./B612Mono-Regular.ttf'); 
} 

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('space.jpg');
    background-size: cover;
    font-family: b612;
    overflow: hidden;
    font-size: 120% !important;
    text-decoration: none;
}

#menu {
    display: flex;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 10%;
    font-size: 200%;
}

button {
    margin: 1%;
    min-width: 10px;
    font-size: 100%;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    transition: box-shadow 0.05s ease;
    filter: drop-shadow(4px 4px black);
    cursor: pointer; 
}


button:before {
    content: '//';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.difficultyButton {
    padding-left: 3%;
    padding-right: 3%;
}

.difficultyButton:hover:before {
    content: '>> ';
}

.difficultyButton:hover:after {
    content: '<< ' !important;
}

button::after {
    content: '\\\\'; /* Escape Characters for 2x backslashes */
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.difficultyButton::after {
    content: '//';
}

#webserialNav:before {

    left: 1% !important;
    position: absolute;
}
#webserialNav:hover:before {
    content: '>> ';
}
#webserialNav:after {
    content: '' !important;
}

.difficultyButton:hover:before {
    content: '>> ';
}

#webserialNav {
    padding-left: 8%;
}

#webserialNav:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.cwwLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#menuCont {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 1%;
}

#configBox {
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#top {
    flex: 100%;
}

#left {
    flex: 50%;
    min-width: 0;
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
}

#right {
    flex: 50%;
    min-width: 0;
}

#dividerHorizontal {
    display: none;
    width: 90%;
}

#loopbackButton {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 70px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

a {
    filter: drop-shadow(1px 2px black); 
    text-decoration:none;
}

a:link, a:visited {
    color: #ffa500;
    filter: drop-shadow(0.5px 1px rgb(0, 0, 0)); 
    a:link {
        text-decoration: none;
      }
}

#speedBox {
    margin: 0%;
    cursor: pointer;
}

.Input {
    height:15%;
    width: 12%;
    text-align: center;
    font-size: 100%;
	border:1px solid #ddd;
	border-radius:4px;
    display: inline-block;
    vertical-align: middle;
    cursor:auto;
    margin-left: -2%;
    margin-right: -2%;
    font-family: b612;
}

.modifier {
    width:3%;
	height:5%;
	background:#f2f2f2;
	border-radius:4px;
	padding:3px 6px 3px 6px;
	/* border:1px solid #ddd; */
    display: inline;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
    color: black;
}

#keyerSetupMenu {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

#keyerLeft {
    flex: 50%;
    display: inline-block;
    font-size: 90%;
}
#keyerRight {
    flex: 50%;
    display: inline-block;
}

#keyerInput {
    margin-top: 2%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 200%;
}

@media screen and (max-width: 882px) {
    #keyerBR {
        display: flex !important;
    }

    #keyerInput {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 768px) {
    body {
        overflow: visible;
    }

    #menu button {
        font-size: 90% !important;
    }

    #creditText a {
        font-size: 100% !important;
    }

    #keyerInput {
        width: 20px;
        height: 20px;
    }

}

@media screen and (max-width: 609px) {
    #menu button {
        font-size: 65% !important;
    }

    #creditText a {
        font-size: 100% !important;
    }

    #configBox {
        display: block !important;
    }

    #left {
        text-align: right;
    }
}

@media screen and (max-width: 420px) {
    #menu button {
    font-size: 55% !important;
    }

    button:before {
        content: '';
    }
    
    button::after {
        content: '' !important;
    }

    #keyerInput {
        width: 20px;
        height: 20px;
    }

    #keyerRight {
        display: block ruby !important;
        margin-top: 20px;
    }
    #top {
        padding-top: 50%;
    }

}

@media screen and (max-width: 364px) {
    #menuCont {
        width: 100%;
    }

    #menu button {
        font-size: 50% !important;
    }

    #loopbackButton {
        width: 40px !important;
    }

    #creditText a {
        font-size: 70% !important;
    }

    .difficultyButton {
        padding-left: 20%;
        padding-right: 20%;
    }

    .difficultyButton::after {
        content: '';
    }

    #left span, a {
        font-size: 85%;
    }

    #divider {
        display: none;
    }

    #dividerHorizontal {
        display: flex;
    }

}

@media screen and (max-width: 257px) {
    #menu button {
        font-size: 45% !important;
    }

    #creditText a {
        font-size: 50% !important;
    }

    #presetText {
        display: block;
        width: 100%;
        text-align: center;
    }

    a {
        font-size: 60%;
    }

    #keyerInput {
        width: 15px;
        height: 15px;
    }
}